<!DOCTYPE html>
<html lang='en'>

<head>
    <meta charset="utf-8" />
    <title>Barnyard Banter APP</title>
    <link type="text/css" rel="stylesheet" href="{{ url_for('static',
                filename='style.css')}}" />
</head>

<body>
    <header>
        <div class="container">
            <h2>Banyar Banter</h2>
        </div>
    </header>
    <div class="container">
        <form action="/predict" method="POST" class="form">
            <div class="fieldset">
                <label>Enter Your Image Path Here </label>
                <input class="exp" name="exp" />
            </div>
            <input type="submit" class="button" value="predict">
        </form>
    </div>
</body>

</html>